 * {
   box-sizing: border-box;
   clear: both;
 }

 html {
   background: linear-gradient(to top left, #66ffcc 0%, #ff99cc 100%);
   box-sizing: border-box;
 }

 body {
   margin: 50px auto;
   text-align: center;
   max-width: 1000px;
   padding: 50px;
   font-family: 'Open Sans', sans-serif;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 15px;
   background-color: white;
   line-height: 1.6;
 }

 h1 {
   background: linear-gradient(to top left, #66ffcc 0%, #ff99cc 100%);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   font-size: 64px;
   font-weight: 900;
   font-family: 'Bitter', serif;
   margin-bottom: 0;
   -webkit-text-stroke: 1.5px #000;
 }

 h1+p {
   font-size: 24px;
   font-weight: 700;
   margin-top: 10px;
 }

 section {
   margin: 30px 0;
 }

 section h2 {
   font-size: 48px;
   font-weight: 600;
   font-family: 'Bitter', serif;
   color: #ff99cc;
   -webkit-text-stroke: 1px #000;
 }

 .intro {
   max-width: 800px;
   margin: 20px auto;
 }

 .buttons {
   display: flex;
   flex-wrap: wrap;
   margin: 20px auto;
   justify-content: space-around;
 }

 .buttons a {
   margin: 20px 0;
 }

 .portfolio .buttons {
   justify-content: space-evenly;
   margin-bottom: 40px;
 }

 a {
   background-color: #b9ebdb;
   text-decoration: none;
   border: 2px solid #000;
   border-radius: 15px;
   padding: 15px 20px;
   color: #000;
 }

 details {
   margin-bottom: 25px;
 }

 details>*+* {
   text-align: left;
 }

 @media screen and (max-width: 840px) {

   iframe,
   object,
   img {
     width: 350px;
     height: auto;
   }

   body {
     padding: 10px;
   }
 }

 @media screen and (max-width: 360px) {

   iframe,
   object,
   img {
     width: 300px;
     height: auto;
   }
 }